.Account {
	display:flex;
	flex-direction:column;
}

.AccountBalances {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-evenly;
	padding: 10px;
}


.AccountBalances td, .AccountBalances th {
	background:white;
	border: 1px solid black;
}
